.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContainer{
  min-height: 100vh;
  width: 100vw;
}

.main {
  min-height: 80vh;
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* contenido main */
.content{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url('../public/images/christin-hume-mfB1B1s4sMc-unsplash.jpg') ;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  /* padding-top: 70px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: lawngreen; */
  
}

.centerMainPage{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: seashell;
  /* background: chocolate; */
}


.centerMainPage h3{
  /* margin-top: 20vh; */
  margin-top: 90px;
  margin-bottom: 0;
  font-size: 5rem;
  /* margin: 0; */
  /* color: seashell; */
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
} */

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}



@media (max-width: 600px) {

  .centerMainPage {
    text-align: center;
    width: 90%;
    /* background: saddlebrown; */
  }
  .centerMainPage h3{
    font-size: 40px;
  }

  .centerMainPage p{
    font-size: 20px;
  }
}
